html{
  font-size: 12px;
}
body{
  background-color: $off-white;
  margin: 0;

  @include breakpoint(mobile){
    background-color: hotpink;
  }
  @include breakpoint(tablet){
    background-color: orange;
  }
  @include breakpoint(desktop){
    background-color:navy;
  };

}
*{
  box-sizing: border-box;
}

.dot{
  padding: calc(100% * (1/18) - 9px);
  margin:12px;
  border: 6px solid;
  border-color: $secondary-color;
  border-radius: 50%;

}
.checked{
  background-color: $secondary-color;
}
.wrapper{
  width: 360px;
  margin: 0 auto;
  display: flex;
  font-size: 0;
  flex-wrap:wrap;
 }
.hover{
  border-color: #BBB;
}


.slide{

animation: slide 0.6s ease forwards;
}
@keyframes slide{
  0%{
  transform: translateY(0%);
  }
  50%{
  transform: translateY(10px);
  
  }
  100%{
  transform: translateY(0%);
  
  }
}

.unslide{

  animation: unslide 0.6s ease forwards;
}
@keyframes unslide{
  0%{
  transform: translateY(0%);
  }
  50%{
  transform: translateY(-10px);
  
  }
  100%{
  transform: translateY(0%);  
  }
}

.select{
  background-color: #000;
  color: #FFF;
}